<div class="home_blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="title_blog text_center">
                    Наш блог
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-repeat="tst in tst | limitTo: 3">
               <a href="#">
                   <post-card></post-card>
               </a>
            </div>
        </div>
    </div>
</div>