<div class="offers_block">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="offers_container">
                    <div class="offers_start_date">
                        <h2>Старт предложения:</h2>
                        <span>22.12.2016</span>
                    </div>
                    <div class="offers_title">

                    </div>
                    <div class="offers_desrciption">

                    </div>
                    <div class="offers_rest_time">
                        <div class="of_countdown_item countdown_days">
                            <div class="of_countdown_digits">
                                <span> 1 </span>
                                <span> 0 </span>
                            </div>
                            <div class="of_countdown_label">Дни</div>
                        </div>
                        <div class="of_countdown_item countdown_hours">
                            <div class="of_countdown_digits">
                                <span>1</span>
                                <span>5</span>
                            </div>
                            <div class="of_countdown_label"> Часы</div>
                        </div>
                        <div class="of_countdown_item countdown_minutes">
                            <div class="of_countdown_digits">
                                <span> 4</span>
                                <span> 5</span>
                            </div>
                            <div class="of_countdown_label"> Минуты</div>
                        </div>
                        <div class="of_countdown_item countdown_seconds">
                            <div class="of_countdown_digits">
                                <span>5</span>
                                <span>3</span>
                            </div>
                            <div class="of_countdown_label"> Секунды</div>
                        </div>

                    </div>
                    <div class="btn">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>