<div class="container-fluid">
    <div class="row">
        <div class="img_block">
            <div class="start_info">
                <div class="text">
                    <h1>We Are the Best !!!</h1>
                    <button class="btn btn-success btn-lg"> Get Start !!!</button>
                </div>
            </div>
        </div>
    </div>
</div>