<div class="post_card">
    <div class="post_title">
        <div>{{tst.title}}</div>
    </div>
    <div class="post_content">
        <div class="post_img">
            <img src="../resources/img/post_card.jpg">
        </div>
        <div class="post_description">

        </div>
    </div>
</div>