@import '~bootstrap/dist/css/bootstrap.css';
@import './main.header.scss';
@import './social.btn.scss';
@import './main.menu.scss';

body {
  background-color: #202122;
}

.list_inline {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  margin: 0;
}

.center {
  margin: 0 auto;
}

.text_center {
  text-align: center;
}

.center_block {
  display: block !important;
  margin: 0 auto;
}

.untmargin {
  margin: 0;
}