@media screen and (max-width: 991px) {
  .info_block {
    margin-top: 10px !important;
    display: block !important;
    text-align: center;
  }
  .logo_block {
    display: block !important;
  }
  .social_block {
    display: block !important;
    float: none !important;
    text-align: center;
  }
}

.top_panel {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #202122;
  color: #fff;
  -webkit-box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.2);
  .wrap_block {
    width: 750px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .container {
    .info_block {
      display: -webkit-flex;
      height: 100%;
      margin: 0 auto;
      font-size: 1.3em;
      font-weight: 400;
      align-items: center;
      -webkit-align-items: center;
      color: #848484;
      .contacts {
        margin: 20px 0;
        @media screen and (max-width: 990px) {
          text-align: center;
        }
        .phone {
          margin-left: 5px;
          font-size: 0.8em;
        }
      }
    }
    .logo_block {
      text-align: center;
      display: -webkit-flex;
      font-size: 3.5em;
      a {
        text-shadow: 0 0 2px #fff;
        color: #3c3937;
        //color: #202122;
        text-decoration: none;
        transition: all 0.6s ease-in-out;
        &:hover {
          text-decoration: none;
          text-shadow: 0 0 10px #902100, 0 0 20px #902100, 0 0 30px #902100, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff;
          color: #fff;
        }
      }
    }
    .social_block {
      float: right;
    }
  }
}