.menu_item {
  a {
    padding: 0 !important;
  }
  .menu_btn {
    display: inline-flex;
    i {
      padding: 3px 5px;
    }
    .menu_text {
      font-size: 18px;
      padding: 15px;
    }
  }
  &.active {
    .menu_btn {
      background: #70a903;
    }
  }
}