.social_btn {
  display: -webkit-flex;
  text-align: center;
  width: 33px;
  height: 33px;
  border: 2px solid #4a4a4a;
  border-radius: 6px;
  margin: 15px;
  a {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #fff;
    background-color: #4a4a4a;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
    }
  }
}