.home_blog {
  position: relative;
  display: block;
  padding-top: 40px;
  width: 100%;
  background-color: #202122;
  -webkit-box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 -3px 0 0 rgba(255, 255, 255, 0.2);
  .title_blog {
    font-size: 2.8em;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
  }
}