.img_block {
  width: 100%;
  min-height: 600px;
  height: 82vh;
  overflow: hidden;
  background: url("../img/fit_girl_3.jpg") center 0% no-repeat;
  background-size: cover;
  .start_info {

    width: 100%;
    position: absolute;
    z-index: 999;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
}