.offers_block {
  background: url("../img/fit_girl_for_offers.jpg") center 0% no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  color: #fff;
  -webkit-box-shadow: 0 -3px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 -3px 0 0 rgba(255, 255, 255, 0.2);
  .offers_start_date {
    text-align: center;
    h2 {
      font-size: 56px;
      font-weight: 600;
      letter-spacing: 10.2px;
    }
    span {
      color: green;
      font-weight: 600;
      font-size: 48px;
      letter-spacing: 11px;
    }
  }
  .offers_title {
    text-align: center;
    margin: 0 auto;
  }
  .offers_rest_time {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    .of_countdown_item {
      display: inline-block;
      width: auto;
      margin: 0 15px;

      .of_countdown_label {
        display: block;
      }
    }
    .of_countdown_digits {
      display: inline-block;

      span {
        width: 35px;
        margin: 3px;
        //padding: 10px 15px;
        border-radius: 5px;
        background-color: #141516;
        color: #fff;
        font-size: 25px;
      }
    }

  }
}