.post_card {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 4px 4px 4px 0 rgba(250, 19, 19, 0.8);
  }
  .post_title {
    background-color: #4a4a4a;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    border-radius: 4px 4px 0 0;
  }
  .post_content {
    position: relative;
    height: 230px;
    .post_img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
}