<header class="top_panel">
    <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info_block">
                        <div class="contacts">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <span class="phone">+38 000 00 00</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo_block">
                        <a href="#">
                            <span>Dnepr Athletes</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-sm hidden-xs">
                    <div class="social_block">
                        <social-btn></social-btn>
                    </div>
                </div>
            </div>

        <div class="row center">
            <main-menu></main-menu>
        </div>
    </div>
</header>