<!--<div class="menu_main center">-->
<nav class="navbar navbar-inverse" role="navigation">
    <!--<div class="container">-->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-list">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="menu-list">
            <ul class="nav navbar-nav">
                <li class="menu_item active">
                    <a href="#">
                        <div class="menu_btn">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                            <div class="menu_text">Главная</div>
                        </div>
                    </a>
                </li>
                <li class="menu_item">
                    <a href="#">
                        <div class="menu_btn">
                            <i class="fa fa-diamond fa-3x" aria-hidden="true"></i>
                            <div class="menu_text">Про нас</div>
                        </div>
                    </a>
                </li>
                <li class="menu_item">
                    <a href="#">
                        <div class="menu_btn">
                            <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                            <div class="menu_text">Блог</div>
                        </div>
                    </a>
                </li>
                <li class="menu_item">
                    <a href="#">
                        <div class="menu_btn">
                            <i class="fa fa-picture-o fa-3x" aria-hidden="true"></i>
                            <div class="menu_text">Галерея</div>
                        </div>
                    </a>
                </li>
                <li class="menu_item">
                    <a href="#">
                        <div class="menu_btn">
                            <i class="fa fa-info fa-3x" aria-hidden="true"></i>
                            <div class="menu_text">Контакты</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    <!--</div>-->
</nav>
