<ul class="list_inline">
    <li class="social_btn">
        <a href="https://www.facebook.com/dneprathletes/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social_btn">
        <a href="https://www.instagram.com/dnepr_athletes/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </li>
</ul>